body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:260px;
  top:50px;
  width:610px;
  height:680px;
}
#u933 {
  position:absolute;
  left:2px;
  top:332px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:440px;
  top:80px;
  width:130px;
  height:40px;
}
#u935 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:440px;
  top:180px;
  width:130px;
  height:40px;
}
#u937 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:505px;
  top:120px;
  width:0px;
  height:0px;
}
#u938_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u938_seg1 {
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u939 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:440px;
  top:280px;
  width:130px;
  height:40px;
}
#u941 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u942 {
  position:absolute;
  left:505px;
  top:220px;
  width:0px;
  height:0px;
}
#u942_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u942_seg1 {
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u943 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:440px;
  top:440px;
  width:130px;
  height:40px;
}
#u945 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:440px;
  top:510px;
  width:130px;
  height:40px;
}
#u947 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u948 {
  position:absolute;
  left:505px;
  top:480px;
  width:0px;
  height:0px;
}
#u948_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u948_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u949 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:440px;
  top:580px;
  width:130px;
  height:40px;
}
#u951 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u952 {
  position:absolute;
  left:505px;
  top:550px;
  width:0px;
  height:0px;
}
#u952_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u952_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u953 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:650px;
  top:440px;
  width:130px;
  height:40px;
}
#u955 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:440px;
  top:360px;
  width:130px;
  height:40px;
}
#u957 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u958 {
  position:absolute;
  left:505px;
  top:320px;
  width:0px;
  height:0px;
}
#u958_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u958_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u959 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:505px;
  top:400px;
  width:0px;
  height:0px;
}
#u960_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u960_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u961 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u962 {
  position:absolute;
  left:570px;
  top:380px;
  width:0px;
  height:0px;
}
#u962_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u962_seg1 {
  position:absolute;
  left:141px;
  top:-4px;
  width:8px;
  height:64px;
}
#u962_seg2 {
  position:absolute;
  left:135px;
  top:47px;
  width:20px;
  height:20px;
}
#u963 {
  position:absolute;
  left:52px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:650px;
  top:510px;
  width:130px;
  height:40px;
}
#u965 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:715px;
  top:480px;
  width:0px;
  height:0px;
}
#u966_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u966_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u967 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  position:absolute;
  left:440px;
  top:670px;
  width:130px;
  height:40px;
}
#u969 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u970 {
  position:absolute;
  left:505px;
  top:620px;
  width:0px;
  height:0px;
}
#u970_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u970_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u971 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:715px;
  top:550px;
  width:0px;
  height:0px;
}
#u972_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u972_seg1 {
  position:absolute;
  left:-145px;
  top:136px;
  width:149px;
  height:8px;
}
#u972_seg2 {
  position:absolute;
  left:-152px;
  top:130px;
  width:20px;
  height:20px;
}
#u973 {
  position:absolute;
  left:-52px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:270px;
  top:30px;
  width:130px;
  height:40px;
}
#u975 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
